# Signature verification

Explanation of the EIP-712 structs used for authorizing actions.
